body {
    background: url("../images/background.png");
}

.ss-form {
    margin-top: 30%;
    padding: 50px 70px;
    background-color: #fcfcfc;
    border: 2px solid #5B0813;
    border-radius: 5px;
    opacity: 0.95;
    -webkit-box-shadow: 0 5px 20px 5px rgba(89, 32, 39, 1);
    -moz-box-shadow: 0 5px 20px 5px rgba(89, 32, 39, 1);
    box-shadow: 0 5px 20px 5px rgba(89, 32, 39, 1);
}

.ss-form input,
.ss-form button {
    height: 50px;
}

.ss-form input.error {
    border: 2px solid #9B0510;
    background-color: #FFE1E3;
}

.ss-form input[type="email"] {
    margin-bottom: 50px;
}

.ss-callout {
    margin-top: 30%;
    opacity: 0.95;
    -webkit-box-shadow: 0 5px 20px 5px rgba(89, 32, 39, 1);
    -moz-box-shadow: 0 5px 20px 5px rgba(89, 32, 39, 1);
    box-shadow: 0 5px 20px 5px rgba(89, 32, 39, 1);
    border-radius: 5px;
    border-color: #5B0813;
    padding: 0;
}